* {
  font-family: "Times New Roman";
}

body {
  background-color: aqua;
}

div {
  text-align: center;
  height: 100px;
  width: 100px;
  border-radius: 15px;
  border: 2px solid black;
  background-image: url("/Images/nature.jpg");
  background-size: cover;
  position: fixed;
  right: 0px;
  top: 100px;
}
